body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('assets/minimalist-black-cat-backgrounds-3gy1fpvdc0tbdimn 1.png');
    background-size: contain;
    background-repeat: repeat-x;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
}
  
canvas {
    display: block;
    background-image: url('assets/background.png');
    background-size: contain;
    border: 8px solid #646464;
    border-style: ridge;
}
  
#restartBtn {
    padding: 20px;
    font-size: 24px;
    color: #fff;
    background-color: black;
    background-size: contain;
    border: 2px white;
    border-style: dashed;
    display: none;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}
  
#restartBtn:hover {
    background-color: black;
}
  
#bird,
#pipe {
    display: none;
}
  
#gameTitle {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    font-family: Arial, sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    z-index: 1;
}
  
#winScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: none; /* Hidden by default */
    z-index: 10;
}
  
#winScreen h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
  
#qrCode {
    width: 200px;
    height: 200px;
}
